<link rel="stylesheet" type="text/css" href="../css/index.css">
<div class="center">
    <ul class="tilte">
        <li>
            下午好,
            <a href="#">夜</a>
        </li>
        <li class="zhanghao">
            <a href="#">注册英文邮箱账号</a>
            <span>(如：chen@foxmail.com)</span>
        </li>
        <li class="totalmail">
            <span></span> 邮件：240 封
            <a href="#">未读邮件</a>
        </li>
        <li class="mailinfo">
            <a href="#">收件箱(141)</a>
            <a href="#">群邮件(99)</a>
            <a href="#">漂流瓶(23)</a>
            <a href="#">订阅中心(9)</a>
            <a href="#">阅读空间(156)</a>
        </li>
    </ul>
    <div class="main">
        <div class="title">
            <a href="#">邮箱推荐</a>
        </div>
        <div class="_img">
            <a href="#"></a>
        </div>
        <ul class="details fix">
            <li>
                <span class="ico ico1"></span>
                <a href="#">iPhone版</a>
            </li>
            <li>
                <span class="ico ico2"></span>
                <a href="#">明信片 - 贺卡</a>
            </li>
            <li>
                <span class="ico ico3"></span>
                <a href="#">iPad版</a>
            </li>
            <li>
                <span class="ico ico4"></span>
                <a href="#">记事本 - 日历</a>
            </li>
            <li>
                <span class="ico ico5"></span>
                <a href="#">Android版</a>
            </li>
            <li>
                <span class="ico ico6"></span>
                <a href="#">文件中转站</a>
            </li>
        </ul>
        <div class="bottom">
            <a href="#">2015年8月7日更新</a>
            <span>|</span>
            <a href="#">暖灯行动</a>
            <span>|</span>
            <a href="#">企业邮箱</a>
            <span>|</span>
            <a href="#">开放平台</a>
            <span>|</span>
            <a href="#">体验室</a>
            <span>|</span>
            <a href="#">邮箱助手</a>
            <span>|</span>
            <a href="#">自助查询</a>
            <span>|</span>
            <a href="#">团队博客</a>
            <span>|</span>
            <a href="#">加入我们 </a>
        </div>
        <div class="copyright">
            标准版 -
            <a href="#">基本版</a>
            <span> | </span> © 1998 - 2016 Tencent Inc. All Rights Reserved
        </div>
    </div>
</div>
<div class="right">
    <div class="resume">
        <h6>简历中心</h6>
        <p>
            智能导入简历，提供个性化模板，为你的求职保驾护航。
            <a href="#">  立即体验</a>
        </p>
    </div>
    <div class="info">
        <div class="top">
            <div class="topInfo fix">
                <div class="birthday">生日提醒</div>
                <div class="myInfo">我的信息</div>
            </div>
        </div>
        <ul class="details">
            <li class="dji">
                积分等级：
                <a href="#"> <i></i> (8级)</a> <a href="#">自助查询</a>
            </li>
            <li>
                邮箱容量：<a href="#">2G</a> (已使用485M，24%)
            </li>
            <li>
                上次登录：<a href="#">6小时前</a>
            </li>
            <li>
                垃圾举报：<a href="#">0次</a>
            </li>
        </ul>
    </div>
</div>
