<link rel="stylesheet" type="text/css" href="../css/index.css">
<div class="WLcontainer">
    <ul class="title fix">
        <li class="first">
            普通邮件
        </li>
        <li>
            <a href="#">群邮件</a>
        </li>
        <li>
            <a href="#">贺卡</a>
        </li>
        <li>
            <a href="#">明信片</a>
        </li>
        <li>
            <a href="#">音视频邮件</a>
        </li>
    </ul>
    <div class="buttonList fix">
        <div class="left">
            <a href="#">发送</a>
            <a href="#">定时发送</a>
            <a href="#">存草稿</a>
            <a href="#">关闭</a>
        </div>
        <div class="right">
            <a href="#">预览</a>
            <a href="#">新窗口写信</a>
        </div>
    </div>
    <div class="con fix">
        <div class="left">
            <div class="per">
                <a href="#">收件人</a>
                <input type="text">
            </div>
            <div class="per">
                <a href="#">抄送</a>
                <input type="text">
            </div>
            <div class="per">
                <a href="#"></a>
                <a href="#">删除抄送</a> - <a href="#">添加密送</a> | <a href="#">分别发送</a>
            </div>
            <div class="per">
                <span>主题</span>
                <input type="text">
            </div>
            <div class="per">
                <a href="#"></a>
                <b class="ico"></b><a href="#">添加附件</a>| <b class="ico ico1"></b> <b class="ico ico2"></b><a href="#">超大附件</a><b class="ico ico3"></b><a href="#" class="lit">照片</a>| <b class="ico ico1"></b><b class="ico ico4"></b><a href="#" class="lit">文档</a><b class="ico ico5"></b><a href="#" class="lit">截屏</a><b class="ico ico6"></b><a href="#" class="lit">表情</a><b class="ico ico7"></b><a href="#" class="lit">更多</a><b class="ico ico8"></b><a href="#" class="lit">格式</a>
            </div>
            <div class="per">
                <span class="zw">正文</span>
                <textarea></textarea>
            </div>
            <div class="per">
                <a href="#"></a>
                <b>发件人：夜 <1628299352@qq.com> ▼ | 其他选项 </b>
            </div>
        </div>
        <div class="center">
            <a href="javascript:void"></a>
        </div>
        <div class="right">
            <div class="title">
                <a href="#">通讯录</a>
                <a href="#" class="on">信纸</a>
            </div>
            <div class="search">
                <input type="text" placeholder="查询联系人...">
                <span class="searIcon"></span>
            </div>
            <div class="conR">
                <div class="littitle">QQ好友</div>
                <ul class="list">
                    <li><span></span> の)-</li>
                    <li><span></span>我恢复的好友</li>
                    <li><span></span>heart</li>
                    <li><span></span>老师</li>
                    <li><span></span>html5</li>
                    <li><span></span>家人</li>
                    <li><span></span>大学同学</li>
                </ul>
                <div class="littitle">邮箱助手</div>
                <p><i></i> 网页生成助手</p>
            </div>
        </div>
    </div>
    <div class="buttonList two">
        <div class="left">
            <a href="#">发送</a>
            <a href="#">定时发送</a>
            <a href="#">存草稿</a>
            <a href="#">关闭</a>
        </div>
    </div>
</div>
